* {
  margin:0;
}

a {
  text-decoration: none;
}

button a {
  color:white;
}

button a:hover {
  color:white;
  font-weight: 500;
}

.list-group-item, .card {
  padding: 0;
}

.card-img-top {
  border-radius: 0;
}

.home-icon svg{
  color:white;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  height: 2rem;
}

.home-icon svg:hover{
  color: rgb(218, 218, 218);
}

.card-body > p ,.h5 {
  color:black;
}